*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
	width: 100%;
	position: relative;
}
.login{
	border: 3px solid seagreen;
	position: absolute;
	left:50%;
	top:50%;
	transform: translate3d(-50%,-50%,0);
}
